@keyframes float {
	100% {
		transform: translateY(20px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes animate {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes animate2 {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-200%);
	}
}